**/*.csv
**/*MakeFile
**/*.html
**/*checkpoint.ipynb
**/*.pdf
**/*.ppt
**/*.shp
**/*.cpg
**/*.dbf
**/*.prj
**/*.qpj
**/*.shp.gz
**/*.shx
**/*.csv.gz
**/*.xlsx
**/*.json
**/*.sbn
**/*.sbx
**/*.xls
**/*.zip
**/*.pyc
**/*.txt
**/*.xml
**/*.TIFF
**/*.geojson
**/*.py
**/*.cst
**/*.lyr
**/*.csv.md
**/*.tbx
**/*.tif
**/*.mp4
module/venv
**/*.png
**/*.jpeg
**/*.feather
